h1 {
    color: snow;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    color: rgb(244, 244, 248);
    padding: 20px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/back.webp'); /* Ensure correct image path */
    background-size: cover;
    background-position: center;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(244, 244, 248);
    padding: 20px;
    text-align: center;
}

form {
    margin-top: 125px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url("back.jpg"); /* Ensure correct image path */
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

label {
    display: block;
    font-weight: bold;
    color: #ccc;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(248, 244, 244);
    color: rgb(99, 96, 96);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #666;
    transition: background-color 0.3s ease;
}

.button-17 {
    align-items: center;
    background-color: #fff;
    border-radius: 60px;
    border-style: none;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    height: 15px;
    justify-content: center;
    padding: 15px 15px;
    position: relative;
    text-align: center;
    transition: box-shadow 0.28s cubic-bezier(.4, 0, .2, 1), opacity 0.15s linear 30ms, transform 0.27s cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    touch-action: manipulation;
    margin-top: 20px;
}

.button-17:hover {
    background-color: silver;
    transition: 0.7s;
}

.button-grid button {
    text-align: center;
    display: inline-grid;
    width: 200px;
    height: 50px;
    margin: 25px;
    margin-top: 15px;
}

footer {
    color: snow;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Optional */
    padding: 10px 0;
}
